@page
@model RazorPages_Task.Pages.IndexModel
@{

}
<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <style>
        #changePage{
            position:absolute;
            right:0;
            top:0;
            height:50px;
            width:300px;
            
        }
    </style>
</head>


<body>
    <h1>Persons</h1>
    <div class="btn-group" id="changePage">
        <a  style="font-size:1.5em" href="/Add/AddPage" class="btn btn-primary active" >Add</a>
        <a  style="font-size:1.5em" href="/Delete/DeletePage" class="btn btn-primary active">Delete</a>
        <a style="font-size:1.5em" href="/Update/UpdatePage" class="btn btn-primary active" >Update</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Address</th>
                <th scope="col">Age</th>
                <th scope="col">Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Persons)
            {
                <tr>
                    <th scope="row">@p.Id</th>
                    <td>@p.Name</td>
                    <td>@p.Surname</td>
                    <td>@p.Address</td>
                    <td>@p.Age</td>
                    <td>@p.Salary</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
